
/* Common */
html {
	font-family: sans-serif;
}

/* The query div holds the results of a single query */
div.query {
	margin: 0.5em 1em 1em 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #ccc;
}

/* The p query contains the query string */
p.query {
	font-family: monospace;
	font-size: 1.5em;
}

/* A table contains query results */
table {
	border-collapse: collapse;
	/*
	box-shadow: 0 0 5px #999;
	background: #ccc;
	*/
}

thead>tr { background: #e1e1e1; }

th, td { padding: 0.2em 0.5em 0.2em 0.5em; }

th {
	border-bottom: 1px solid #bbb;
	font-weight: normal;
	background-image: url(sep1.png), url(sep0.png);
	background-repeat: no-repeat;
	background-position: left, right;

	color: #333;
	text-shadow: 0 1px 1px #fff
}

th:first-child {
	background-image: url(sep0.png);
	background-position: right;
	border-top-left-radius: 0.4em;
}
th:last-child {
	background-image: url(sep1.png);
	background-position: left;
	border-top-right-radius: 0.4em;
}

th:only-child { background-image: none }

th.pk { font-weight: bold }
th.fk { text-decoration: underline }

tbody>tr { background: #fff }
tbody>tr:nth-child(even) { background: #f6f6fa; }

td {
	border: 1px dotted #C0C0C0;
	white-space: nowrap
}

/* Truncated cells with link to full content */
td>a {
	color: #000;
}

td>a:after { content: "..." }

/* We use this to mark up NULLs */
td>b {
	background: #ccc;
	padding: 0.2em;
	font-size: 0.5em;
	border: 1px solid #333;
	color: #333;
	cursor: default
}

.summary { display: inline-block; }

/* Error and success elements */
.error, .success {
	border-radius: 0.2em;
	padding: 0.5em;
	border: 1px solid #c00;
}

.error {
	border-color: #c00;
	background: #fcc;
}

.success {
	border-color: #0c0;
	background: #cfc;
}

div.ui {
	margin-top: 1em;
}

.export {
	display: inline-block;
	border: 1px solid #bbb;
	border-top-color: #eee;
	border-left-color: #eee;
	background: #f6f6fa;
	padding: 0.2em 0.5em 0.2em 4em;
	margin: 0.5em 0 0 1em;
	position: relative;
	border-radius: 0.5em;
}

.export>span {
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	font-size: small;
	background: #e1e1e1;
	padding: 3px 5px;
	border-top-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-color: #eee;
	border-right-color: #eee;
}

/* Spinner shown while waiting for data */
.wait {
	background: url(ajax-loader.gif);
	width: 16px;
	height: 16px;
}


